/* written by Josip Brljevic */
.HeartIcon{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: #2C2C2C;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

