.updateItemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 5vh;
  background-color: #dbeddd;
  border: 3px solid #dbeddd;
  margin-bottom: 15px;
  border-radius: 10px;
}

.updateItemContainer input {
  width: 80%;
  height: 5vh;
  padding: 5px;
  background-color: transparent;
  border: none;
  color: #2c2c2c;
  outline: none;
}

.updateBtns button {
  border: 3px solid #2c2c2c;
  background-color: #2c2c2c;
  color: #fafafa;
  height: 39px;
  width: 60px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  text-align: center;
  margin: 5px 5px;
}
