.addItemToListContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 5vh;
  background-color: #dbeddd;
  border: 3px solid #dbeddd;
  margin-bottom: 15px;
  border-radius: 10px;
}

.addItemToListContainer input {
  width: 70%;
  padding: 10px 5px;
  background-color: transparent;
  border: none;
  color: #2c2c2c;
  outline: none;
}

.addItemToListContainer button {
  border: 3px solid #2c2c2c;
  background-color: #2c2c2c;
  color: #fafafa;
  height: 100%;
  width: 60px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  text-align: center;
  margin: 0;
  padding: 0;
}

.addItemToListContainer button:hover {
  transform: scale(1.1);
}
