.cardContent {
  width: 100%;
  height: 100%;
  margin-top: 5vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.cardContentTitle {
  font-family: "Clash Display", sans-serif;
  font-weight: 500;
  font-size: 50px;
  align-self: flex-start;
  margin-bottom: 10px;
  margin-left: 5%;
}

.closeToExpireContainer {
  margin-bottom: 5px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: black;
  margin-top: 20px;
}

.testt {
  color: #e57b07;
}
