.cancelandsave {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.cancelandsave button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: #e57b07;
  font-size: 15px;
}

.left {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.productdescription {
  margin-top: 30px;
  margin-bottom: 30px;
}

.expiring {
  margin-bottom: 20px;
}

.productdescription p {
  font-size: 30px;
}

.expiring p {
  font-size: 25px;
}

.expiring {
  margin-top: 30px;
}

.selectedfood {
  margin-top: 50px;
  margin-bottom: 20px;
}

.productlist {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1180px) {
  .productdescription p {
    font-size: 15px;
  }

  .expiring p {
    font-size: 15px;
  }
}

.chosen {
  display: flex;
  flex-wrap: wrap;
}

#empty p {
  font-size: 15px;
}

.hidden {
  display: none;
}
