body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "General Sans";
  font-weight: normal;
  src: "./fonts/GeneralSans-Regular.OTF" format("opentype");
}

@font-face {
  font-family: "General Sans";
  font-weight: bold;
  src: "./fonts/GeneralSans-Medium.OTF" format("opentype");
}

@font-face {
  font-family: "Clash Display";
  font-weight: normal;
  src: "./fonts/ClashDisplay-Medium.OTF" format("opentype");
}
